BasedOnStyle: LLVM
Language: Cpp
Standard: c++23
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
UseTab: Never
ColumnLimit: 120
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeAssignmentOperators: true
IndentAccessModifiers: false
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: Leave
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
PackConstructorInitializers: CurrentLine
SeparateDefinitionBlocks: Leave
MaxEmptyLinesToKeep: 2
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignAfterOpenBracket: BlockIndent
PackParameters:
  BinPack: OnePerLine
  BreakAfter: 4
PackArguments:
  BinPack: OnePerLine
  BreakAfter: 4
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: None
BreakTemplateDeclarations: Leave
SortIncludes: true
AlignTrailingComments: true
EmptyLineBeforeAccessModifier: Leave
WrapNamespaceBodyWithEmptyLines: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
