BasedOnStyle: Microsoft
Language: Cpp
Standard: c++23

IndentWidth: 4
UseTab: Never

ColumnLimit: 144

Cpp11BracedListStyle: Block

SpaceBeforeCpp11BracedList: false
SpaceBeforeAssignmentOperators: true
IndentAccessModifiers: false
FixNamespaceComments: false
IndentCaseLabels: true

IndentPPDirectives: Leave
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Custom

BraceWrapping:
    AfterNamespace: true
    AfterClass: true
    AfterStruct: true
    AfterUnion: true
    AfterFunction: true
    AfterControlStatement: Always
    BeforeCatch: true
    BeforeElse: true
    BeforeWhile: true
    IndentBraces: false
    SplitEmptyFunction: false 
    SplitEmptyRecord: false
    AfterCaseLabel: true

SeparateDefinitionBlocks: Leave
PackConstructorInitializers: CurrentLine
AllowShortCaseLabelsOnASingleLine: true

AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseColons: false

AlignAfterOpenBracket: BlockIndent

PackParameters:
    BinPack: OnePerLine

PackArguments:
    BinPack: OnePerLine

AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
BreakTemplateDeclarations: Yes

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<[[:alnum:]_]+\.h>$'
    Priority: 1
  - Regex:    '^<.*\.h>$'
    Priority: 2
  - Regex:    '^"Zero/'
    Priority: 3
  - Regex:    '.*'
    Priority: 4

SortIncludes: true
AlignTrailingComments: true
